/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "NanumGothic", "Nanum Gothic", "Open Sans", sans-serif;
    color: #444444;
    margin: 0;
    padding: 0;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "NanumGothic", "Nanum Gothic", "Open Sans", sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
    width: 100%;
    padding: 10px 20px;

    /* background-color: #ccc; */
    border-bottom: 1px solid #ccc;
}

/* @media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }
} */

.header-fix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* transition: all 0.2s; */
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 0;
    text-decoration: none;
}

.header .logo img {
    max-height: 40px;
}

.header .logo span {
    color: #000;
    font-family: "Times New Roman", "NanumGothic", "Nanum Gothic", "Open Sans", sans-serif; 
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

.header .logo span i {
    font-size: 22px;
}


/*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/
.navbar {
    flex-grow: 1;
    text-align: right;
}

.navbar ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;    
    gap: 15px;
}

.navbar li {
    position: relative;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar li:hover > a {
    color: #888;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul li:hover > a {
    color: #4154f1;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

.mobile-navbar {
    color: #000;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

  
@media (max-width: 991px) {
    .mobile-navbar {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
main {
    margin: 70px 0 0 0;
    padding: 0;
    width: 100%;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
