/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "NanumGothic", "Nanum Gothic", "Open Sans", sans-serif;
    color: #444444;
    margin: 0;
    padding: 0;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "NanumGothic", "Nanum Gothic", "Open Sans", sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
    width: 100%;
    padding: 10px 40px;

    /* background-color: #fff; */
    border-bottom: 1px solid #ccc;
}

@media (max-width: 1024px) {
    .header {
        padding: 10px 30px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }
}

.header-fix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* transition: all 0.2s; */
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 0;
    text-decoration: none;
}

.header .logo img {
    max-height: 40px;
}

@media (max-width: 1024px) {
    .header .logo img {
        max-height: 36px;
    }
}

@media (max-width: 768px) {
    .header .logo img {
        max-height: 32px;
    }
}

@media (max-width: 425px) {
    .header .logo img {
        max-height: 28px;
    }
}

@media (max-width: 320px) {
    .header .logo img {
        max-height: 24px;
    }
}


/*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/
.navbar {
    flex-grow: 1;
    text-align: right;
}

.navbar ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;    
    gap: 15px;
}

.navbar li {
    position: relative;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar li:hover > a {
    color: #888;
}

.navbar-button {
    color: #000;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .navbar-button {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(8, 8, 8, 0.9);
    transition: 0.3s;
}
  
.navbar-mobile .navbar-button {
    position: absolute;
    top: 22px;
    right: 20px;
    color: white;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #000;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #888;
}


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
main {
    margin: 0;
    padding: 0;
    width: 100%;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 14px;
}
  
.footer .footer-top {
    background: white url(./src/img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 60px 0 30px 0;
}
  
@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 40px;
}

.footer-grid-full {
    flex: 0 0 auto;
    width: 100%;
}

.footer-grid-half {
    flex: 0 0 auto;
    width: 50%;
}

.footer-grid-col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}

.footer-grid-col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.footer-grid-col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}
  
.footer .footer-top .footer-info {
    margin-bottom: 30px;
}
  
.footer .footer-top .footer-info .logo {
    display: flex;
    align-items: center;
    line-height: 0;
    margin-bottom: 15px;
}
  
.footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}
  
.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    padding-right: 40px;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}
  
.footer .footer-top .footer-links {
    margin-bottom: 30px;
}
  
.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
}
  
.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
  
.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
  
.footer .footer-top .footer-links ul a {
    color: #013289;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
.footer .footer-top .footer-links ul a:hover {
    color: #4154f1;
}

.footer .footer-top .footer-contact {
    text-align: left;
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}
  
.footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #012970;
}
  
.footer .credits {
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    color: #012970;
}

@media (max-width: 1024px) {
    .footer-container {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {

    .footer-container {
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {
    .footer .footer-top .footer-info .logo img {
        max-height: 36px;
    }
}

@media (max-width: 768px) {
    .footer .footer-top .footer-info .logo img {
        max-height: 32px;
    }
}

@media (max-width: 425px) {
    .footer .footer-top .footer-info .logo img {
        max-height: 28px;
    }
}

@media (max-width: 320px) {
    .footer .footer-top .footer-info .logo img {
        max-height: 24px;
    }
}

@media (max-width: 992px) {

    .footer-grid-col-2 {
        width: 50%;
    }

    .footer-grid-col-3,
    .footer-grid-col-5 {
        width: 100%;
    }

    .footer .footer-top .footer-contact {
        text-align: center;
    }
} 