
.bar-options {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.bar-option1, .bar-option2 {
    flex: 0 0 15%;
    height: 28px;
    color: #999;
    margin: 0;
    padding: 2px 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    
    background-image: url('../../src/img/triangle_down.png');
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-size: 8px;
    background-color: #fff;
}

.bar-plotly {
    height: 100%; 
}

.bar-before {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5edf4;
    font-size: 18px;
}

.bar-legend {
    flex: 0 0 auto;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.bar-legend span {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.bar-notice {
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4px;
    font-size: 12px;
    white-space: normal;
}

/* LAPTOP CASES */
@media screen and (max-width: 1443px) {
    .bar-notice {
        font-size: 10px;
    }
}

/* MOBILE CASES */
@media screen and (max-width: 767px) {
    .service-box {
        height: 70vh;
    }
    .bar-options {
        flex-direction: column;
    }
    .bar-option1, .bar-option2 {
        width: 100%;
        height: 30px;
        margin-bottom: 4px;
    }
}
