
.macro-options {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    justify-content: space-between;
}

.macro-option1, 
.macro-option2 {
    flex: 0 0 20%;
    height: 28px;
    color: #999;
    margin: 0;
    padding: 2px 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    
    background-image: url('../../src/img/triangle_down.png');
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-size: 8px;
    background-color: #fff;
}

.macro-plotly {
    height: 100%; 
}

.macro-before {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5edf4;
    font-size: 18px;
}

/* LAPTOP CASES */
@media screen and (max-width: 1443px) {
    .macro-notice {
        font-size: 10px;
    }
}

/* MOBILE CASES */
@media screen and (max-width: 767px) {
    .service-box {
        height: 70vh;
    }
    .macro-options {
        flex-direction: column;
    }
    .macro-option1, 
    .macro-option2 {
        width: 100%;
        height: 30px;
    }
    .select2-container {
        margin-bottom: 4px !important;
    }
}
