{% extends "layout-1.0.0.html" %}
{% set NOTICE = "모든 투자의 책임은 당사자에게 있습니다. 
본 자료는 법적 효력이 없으며 열람 시점에 따라 정보가 상이할 수 있습니다.                 
" %}

{% block meta %}
  <meta name="description" content="거시 경제 지표를 비교하며 시장 상황을 점검할 수 있습니다. 리스크 관리를 위해 필요합니다.">
  <meta property="og:title" content="LAB￦ONS: 거시 경제">
  <meta property="og:image" content="/src/img/thumbnail-macro.png">
  <meta property="og:description" content="거시 경제 지표를 비교하며 시장 상황을 점검할 수 있습니다. 리스크 관리를 위해 필요합니다.">
  <meta property="og:type" content="website">
{% endblock %}

{% block script %}<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>{% endblock %}

{% block style %}
  <style>
    .service-nav {
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 6px;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }

    .service-nav .nav-container {
      flex: 0 0 auto;
      width: 33.3333%;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
    }

    .service-nav .nav-container .axis-name {
      flex: 0 0 auto;
      padding: 4px 8px;
      color: #fff;
      font-family: var(--font-family);
      font-size: 14px;
      font-weight: 700;
      background-color: var(--nav-color);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
    }

    .service-nav .nav-container > select {
      flex: 1 0 auto;
      height: 28px;
      margin: 0;      
      padding: 0px 8px;
      border: 1px solid #aaa;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;
      font-family: var(--font-family);
      font-size: 14px;
      background-color: #fff !important;
    }

    .selection,
    .select2-container--default,
    .select2-container--focus {
      font-family: var(--font-family) !important;
      font-size: 14px !important;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
      border: 1px solid #aaa !important;
    }

    @media (max-width: 767px){
      .service-nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 4px;
      }

      .service-nav .nav-container {
        flex: 0 0 auto;
        width: 100%;
      }
    }

    .service-app {
      flex: 1 0 auto;
      height: 75vh;
      display: flex;
      align-items: stretch;
      position: relative;
    }

    @media (max-width: 767px) {
      .service-app {
        height: 55vh;
      } 
    }

    .service-app .plot {
      flex: 1 0 auto;
    }

    .service-footer {
      flex: 0 0 auto;
    }

    .service-footer .notice {
      font-family: var(--font-family);
      font-size: 12px;
      color: var(--default-color);
    }

    .js-plotly-plot .plotly .modebar-group {
      padding-left: 0 !important;
    }

    .js-plotly-plot .plotly .modebar-group .modebar-btn > i {
      opacity: 0.3;
      font-weight: 700;
    }

    @media (max-width: 767px) {
      .js-plotly-plot .plotly .modebar-group .modebar-btn > i {
        opacity: 0.8;
      }
    }

    #swal2-title {
      font-size: 18px !important;
    }

  </style>
{% endblock %}

{% block data %}
  <script type="text/javascript">
    const SERVICE = "macro";
    const srcIndicatorOpt = {{ srcIndicatorOpt }};
    const srcIndicator = {{ srcIndicator }};
  </script>
{% endblock %}

{% block content %}
          <!-- MACRO -->
          <div class="service-nav">
            <div class="nav-container">
              <span class="axis-name" title="좌축 지표 선택. 최대 3개">Y1</span>
              <select name="y1" class="y1" multiple="multiple"></select>
            </div>
            <div class="nav-container" style="justify-content: flex-end;">
              <span class="axis-name" title="우축 지표 선택. 최대 3개">Y2</span>
              <select name="y2" class="y2" multiple="multiple"></select>
            </div>
          </div>
  
          <div class="service-app">
            <div class="plot" id="plotly"></div>
          </div>
  
          <div class="service-footer">
            <div class="notice">{{ NOTICE }}</div>
          </div>
          <!-- END MACRO -->
{% endblock %}

{% block content_addon %}
    <section class="section section-flow">
      <div class="container container-title">
        <h2 class="main-title">STATUS</h2>
        <p class="sub-title">{{ tradingDate }}</p>
      </div>

      <div class="container container-content">{% for item in srcStatus %}
        <div class="content-number" data-symbol="{{ item['code'] }}" title="기준 일자: {{ item['date'] }}">
          <i class="bi {{ item['icon'] }} content-number-icon" style="color:{{ item['color'] }};"></i>
          <div class="content-number-item">
            <div class="content-number-value">
              <span 
              data-purecounter-start="0" 
              data-purecounter-end="{{ item['value'] }}" 
              data-purecounter-decimals="{{ item['digit'] }}"
              data-purecounter-duration="1.5"{% if item['unit'] == '억원' %} 
              data-purecounter-separator="true"{% endif %}
              class="purecounter"></span>
              <span class="content-number-unit">{{ item['unit'] }}</span>
              <span class="content-number-change" style="color:{{ item['color'] }};">({{ item['change'] }}%)</span>
            </div>            
            <div class="content-number-label">
              <span class="content-number-name">{{ item['name'] }}</span>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </section>
{% endblock %}