
/* ==================================================
   GENERAL TAGS 
===================================================== */


/* ==================================================
   SPECIFIC DESIGN
===================================================== */

/* --------------------------------------------------
   ADVERTISEMENT
----------------------------------------------------- */
.ads {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 150px;
    margin: 0 30px;
    padding: 10px 0;
    background-color: #f6f9ff;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
}

.ads-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;    
    background-color: lightblue; /* Temporary */
}

/* --------------------------------------------------
   MAP NAVIGATION
----------------------------------------------------- */
.maps-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 30px 0 30px;
    padding: 0; 
}

.maps-nav-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    height: 32px !important;
}

.map-selector {
    width: 180px;
    color: #999;
    margin-right: 4px;
    padding: 2px 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;

    /* background-image: url('https://raw.githubusercontent.com/labwons/pages/main/treemap/src/img/triangle_down.png');
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-size: 8px;
    background-color: #fff; */
}

.map-reset {
    width: 32px;
    margin: 0;
    border: 1px solid #aaa;
    background-color:white;
    background-image:url('./src/img/reset.png');
    background-size:contain;
    background-repeat:no-repeat;
    border-radius: 6px;
    cursor: pointer;
}

.map-reset:hover{
    background-color:rgba(200, 200, 200, 0.5)
}

.map-searchbar {
    width: 20%;
}

.map-keyin {
    width: 100%;
    margin: 0;
    padding: 2px 8px;
    box-sizing: border-box;
}

/* .select2-container .select2-selection--single {
    height: 2em !important;
} */

.maps-app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 4px 30px 20px 30px;
}

.maps-plotly {
    position: relative;
    height: 650px;
}

.map-rewind {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 24px;
    height: 24px;
    margin: 0;
    border: 1px solid #aaa;
    background-color:#ccc;
    background-image:url('./src/img/undo.png');
    background-size:contain;
    background-repeat:no-repeat;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.0s ease, visibility 1.0s ease;
}

.map-rewind.show {
    opacity: 1;
    visibility: visible;
}

.maps-info {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 14px;
}

.maps-legend {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 40%;
} 

.maps-legend-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.2%;
    padding: 4px;
    color: white;
}

.maps-lowest {
    background-color: #f63538;
}

.maps-lower {
    background-color: #bf4045;
}

.maps-low {
    background-color: #8b444e;
}

.maps-middle {
    background-color: #414554;
}

.maps-high {
    background-color: #35764e;
}

.maps-higher {
    background-color: #2f9e4f;
}

.maps-highest {
    background-color: #30cc5a;
}

.maps-notice {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-size: 14px;
}

.faq {
    margin: 0 30px;
}

.faq-header {
    padding-bottom: 20px;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
}

.faq-column {
    flex: 0 0 auto;
    width: 50%;
}

.faq-item {
    margin-right: 20px;
    margin-bottom: 30px;
    padding-right: 20px;
    border-bottom: 1px solid lightgrey; 
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 20px; 
    cursor: pointer;
}

.faq-content {
    line-height: 2em;
}

.faq .collapse {
    display: none;
}



@media screen and (max-width: 1023px) {
    .ads {
        height: 150px;
        margin: 0 10px;
    }

    .maps-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        align-content: stretch;
        margin: 20px 10px 0 10px;
        padding: 0; 
    }
    
    .maps-nav-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        /* height: 24px !important; */
    }
    
    .map-selector {
        flex: 1;
        color: #999;
        margin-right: 4px;
        padding: 2px 8px;
        border: 1px solid #aaa;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 14px;
    
        /* background-image: url('https://raw.githubusercontent.com/labwons/pages/main/treemap/src/img/triangle_down.png');
        background-repeat: no-repeat;
        background-position: right 4px center;
        background-size: 8px;
        background-color: #fff; */
    }
    
    .map-reset {
        width: 32px;
        margin: 0;
        border: 1px solid #aaa;
        background-color:white;
        background-image:url('./src/img/reset.png');
        background-size:contain;
        background-repeat:no-repeat;
        border-radius: 6px;
        cursor: pointer;
    }
    
    .map-reset:hover{
        background-color:rgba(200, 200, 200, 0.5)
    }
    
    .map-searchbar {
        width: 100%;
        margin: 8px 0;
    }
    
    .map-keyin {
        margin: 0;
        box-sizing: border-box;
    }

    .maps-app {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 4px 10px 20px 10px;
    }

    .maps-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        font-size: 14px;
    }
    
    .maps-legend {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
    } 
    
    .maps-legend-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14.2%;
        padding: 4px;
        color: white;
    }

    .maps-notice {
        display: flex;
        align-items: center;
        margin-top: 4px;
        font-size: 10px;
    }
}