
/* ==================================================
   GENERAL TAGS 
===================================================== */


/* ==================================================
   SPECIFIC DESIGN
===================================================== */

/* --------------------------------------------------
   ADVERTISEMENT
----------------------------------------------------- */
.ads {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 150px;
    margin: 0 30px;
    padding: 10px 0;
    background-color: #f6f9ff;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
}

.ads-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;    
    background-color: lightblue; /* Temporary */
}

/* --------------------------------------------------
   MAP NAVIGATION
----------------------------------------------------- */
.maps-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 0 30px;
    padding: 0; 
}

.maps-nav-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    height: 32px !important;
}

.map-selector {
    width: 180px;
    color: #999;
    margin-right: 4px;
    padding: 2px 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;

    /* background-image: url('https://raw.githubusercontent.com/labwons/pages/main/map/src/img/triangle_down.png');
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-size: 8px;
    background-color: #fff; */
}

.map-reset {
    width: 32px;
    border: 1px solid #aaa;
    background-color:white;
    background-image:url('https://raw.githubusercontent.com/labwons/pages/main/map/src/img/reset.png');
    background-size:contain;
    background-repeat:no-repeat;
    border-radius: 6px;
    cursor: pointer;
}

.map-reset:hover{
    background-color:rgba(200, 200, 200, 0.5)
}

.map-searchbar {
    width: 20%;
}

.map-keyin {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-image: url('https://raw.githubusercontent.com/labwons/pages/main/map/src/img/search.png');
    background-repeat: no-repeat;
    background-position: left 6px center;
    background-size: 1.5em;
}

/* .select2-container .select2-selection--single {
    height: 2em !important;
} */

.maps-app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 4px 30px 20px 30px;
}

.maps-plotly {
    height: 650px;
}

.maps-info {
    display: flex;
    height: 40px;
    font-size: 14px;
}

.maps-legend {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
} 

.maps-legend-item {
    width: 40px;
    padding: 4px;
    text-align: center;
    font-size: 14px;
    border: 1px dotted black;
}

.maps-lowest {
    background-color: #f63538;
}

.maps-lower {
    background-color: #bf4045;
}

.maps-low {
    background-color: #8b444e;
}

.maps-middle {
    background-color: #414554;
}

.maps-high {
    background-color: #35764e;
}

.maps-higher {
    background-color: #2f9e4f;
}

.maps-highest {
    background-color: #30cc5a;
}

.maps-notice {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 8px;
}


/* 

#myMap {
    position:relative;
    width:100%;
    height: 650px;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: xx-small;
}

.map-guide {
    margin-top: 20px;
    display:table;
}

.map-guide-bar {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
}

.map-color-unit {
    display: inline-block;
    font-size: 14px;
    color: white;
    height: 35px;
    width: 14.2%;
    margin-right: -5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    opacity: 0.9;
}

#s_red {
    background-color: #f63538;
}

#m_red {
    background-color: #bf4045;
}

#l_red {
    background-color: #8b444e;
}

#navy {
    background-color: #414554;
}

#l_grn {
    background-color: #35764e;
}

#m_grn {
    background-color: #2f9e4f;
}

#s_grn {
    background-color: #30cc5a;
}

.map-notice {
    display: table-cell;
    position: relative;
    z-index: 2;
    vertical-align: bottom;
    min-height: 35px;
    padding: 8px;
    font-size: 12px;
    text-align:left;
    overflow: hidden;
    line-height: 14px;
} */

@media screen and (max-width: 1023px) {
    #market-map {
        margin: 0 10px;
    }

    .map-ads-content{
        width: 100%;
    }

    .map-nav-1, .map-nav-2 {
        float: none;
        width: 100%;
    }

    .map-nav-1 {
        margin-bottom: 10px;
    }

    .map-nav-mobi{
        display:table-cell;
        width:100%;
    }

    .map-select, .option-select {
        position: relative;
        margin: 0;
        width: 49.5%;
    }

    .map-select {
        float:left;
    }

    .option-select {
        float: right;
    }

    .map-reset {
        position: relative;
        display:table-cell;
        float:right;
        margin-left: 4px;
    }

    .map-search {
        width: 100%;
    }

    .map-guide {
        display: block;
        height:auto;
    }

    .map-guide-bar {
        display: table;
        width: 100%;
    }

    .map-color-unit {
        display:table-cell;
        margin:0;
        font-size: 12px;
        height: 20px;
        width: 14.5%;
        line-height: 20px;
    }

    .map-notice {
        display: block;
        padding: 0;
        margin-top: 4px;
        text-align: justify;
    }
}